
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bookmarker</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <h3 class="text-muted">Bookmarker</h3>
      </div>

      <div class="jumbotron" id="formContainer">
        
      </div>

      <div class="row marketing">
        <div class="col-lg-12">
          <div id="bookmarksResults"></div>
        </div>

      </div>

      <footer class="footer">
        <p>&copy; 2017 Bookmarker, Inc.</p>
      </footer>

    </div> <!-- /container -->

    <script id="formTemplate" type="text/template">
        <h2>Bookmark Your Favourite Sites</h2>

        <form id="myForm">
            <div class="form-group">
                <label>Site Name</label>
                <input type="text" class="form-control" id="siteName" placeholder="Website Name">
            </div>
            <div class="form-group">
                <label>Site URL</label>
                <input type="text" class="form-control" id="siteUrl" placeholder="Website URL">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </script>

    <script id="bookmarkItemTemplate" type="text/template">        
        <h3 class="bookmark-item-name"><%= name %></h3>
        <a href="<%= url %>" target="_blank" class="btn btn-default visit-btn">Visit</a>
        <a href="javascript:void(0)" class="btn btn-danger delete-btn" data-url="<%= url %>">Delete</a>
    </script>

    <script type="text/javascript">
        window.App = {};
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script type="text/javascript" src="js/emitter.js"></script>    
    <script type="text/javascript" src="js/baseComponent.js"></script>        
    <script type="text/javascript" src="js/formView.js"></script>
    <script type="text/javascript" src="js/resultsView.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
